body {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(135deg, rgba(78,230,174,1) 0%, rgba(76,153,235,1) 100%);
	margin: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	height: 100vh;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	letter-spacing: 2px;
	margin-bottom: 30px;
}